{% load static %} {% block content %}

<section class="footer">
  <h4>About us</h4>
  <p>
    HI-CLUB is a global network organization in Sungkyunkwan University. 
    <br>
    Our goal is to help exchange students along their exciting journey in SKKU. 
    <br />
    For HI-CLUB members | <a href="#">LOGIN</a>
  </p>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
  </div>
  <p>Made by Jinhee Kim, SKKU HI-Club</p>
</section>

{% endblock content %}
