{% load static %} {% block content %}

<section class="footer">
  <h4>About us</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi a, dolores
    nesciunt obcaecati tenetur ratione rerum sapiente <br />
    eius quasi, ex, omnis fuga adipisci aliquid. Veniam.
  </p>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
  </div>
  <p>Made by Jinhee Kim, SKKU HI-Club</p>
</section>

{% endblock content %}
