{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-Club Website Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- header  -->
    <section class="sub-header">
      {% include 'navbar.html' %}

      <h1>SKKU LIFESTYLE</h1>

    </section>
      
    <!-- Lifestyle -->

    <section class="info">
      <h1>SKKU LIFESTYLE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
        fugiat.
      </p>
      <div class="row">
        <div class="course-col">
          <h3>Campus Tour</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia
            totam reprehenderit deserunt distinctio harum animi eveniet,
            eligendi natus atque laborum consectetur odio facere quidem?
          </p>
        </div>
        <div class="course-col">
          <h3>HI-Day Tour</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia
            totam reprehenderit deserunt distinctio harum animi eveniet,
            eligendi natus atque laborum consectetur odio facere quidem?
          </p>
        </div>
        <div class="course-col">
          <h3>Mission Hiking</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia
            totam reprehenderit deserunt distinctio harum animi eveniet,
            eligendi natus atque laborum consectetur odio facere quidem?
          </p>
        </div>
      </div>
    </section>

    <!-- Footer -->

    {% include 'footer.html' %}

    <!-- JavaScript for Toggle Menu -->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
{%endblock content%}
