{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HI-Club Website Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"
    />
  </head>
  <body>
<nav>
  <a href="{% url 'homepage' %}"
    ><img src="{%static 'img/logo.jpg'%}" width="=100" height="50" alt=""
  /></a>
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()"></i>
    <ul class="nav-links-item">
      <li><a href="{% url 'homepage' %}">HOME</a></li>
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      <li><a href="{% url 'info' %}">INFO</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">SKKU FACILITIES</a></li>
          <li><a href="#">SKKU LIFESTYLE</a></li>
        </ul>
      </div>
      
      </li>

        
      <li><a href="{% url 'notice' %}">NOTICE</a></li>
      <li><a href="{% url 'contact' %}">CONTACT</a></li>
    </ul>
  </div>
  <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
</body>
</html>
{% endblock content %}
